.banner__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0 101px 0 99px;
}

.banner__title {
    color: rgba(255, 255, 255, 0.86);
    text-align: center;
    font-size: 52px;
    font-size: var(--texst-size-b);
    font-weight: 900;
    line-height: normal;
}

.banner__subtitle {
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-size: var(--texst-size-a);
    font-weight: 400;
    line-height: 140.625%;
    margin-bottom: 57px;
}

.banner__button {
    margin-bottom: 51px;
}
@media (max-width:1024px) {
.banner__title {
    font-size: calc(40px + (12 + 12 * 0.7) * ((100vw - 1024px) / 1600));
}
}
@media (max-width:768px) {
    .banner__block {
        padding: 0;
        gap: 23px;
    }

    .banner__title {
        font-size: calc(20px + (32 + 32 * 0.7) * ((100vw - 320px) / 1600));
    }

    .banner__subtitle {
        margin-bottom: 31px;
    }

    .banner__button {
        margin-bottom: 5px;
    }
}